# IDE
.vscode/
.idea/

# Environment
.env
.venv
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Node
node_modules/
dist/
.next/
out/
build/
.pnpm-store/
